<div class="container-fluid">
  <h1 class="mb-4">
    My books
  </h1>

  <div class="books-container ">
    <div class="card book-card">
      <div class="book-info-container ">

        <div class="card-body mt-4 ">
          <div class="img-container add-new-container">
            <i class="fas fa-book-open fa-10x"></i>
          </div>

          <h5 class="book-name">Add new book</h5>
          <p class="author mb-4">
            <b>
              Click the button below to add a new book
            </b>
          </p>
        </div>
      </div>
      <!-- 
      <div class="notes-container">
        <a (click)="onNewBook()" class="btn btn-action">ADD BOOK</a>
      </div> -->

      <div class="notes-container">
        <a (click)="onAddBook()" class="btn btn-action view-notes">
          Add new book</a>
      </div>
    </div>

    <div *ngFor="let book of books" class="card book-card">
      <div class="book-info-container">
        <div class="img-container mb-4 d-flex justify-content-center">
          <img [routerLink]="['/books', book.id]" class="card-img-top pointer" [src]="book.img" alt="Card image cap" />
        </div>
        <div class="card-body mt-4">
          <h5 class="book-name">{{ book.name | trim: 64 }}</h5>
          <p class="author mb-4">
            <b>
              Author:
            </b>
            {{ book.author }}
          </p>
        </div>
      </div>

      <div class="notes-container">
        <a [routerLink]="['/books', book.id]" class="btn btn-action view-notes">
          View notes and words</a>
      </div>
    </div>
  </div>
</div>



<app-add-edit-book #bookModal></app-add-edit-book>
